<%= simple_form_for [@topic.subject, @topic, @term], :html => { :class => 'form-horizontal' } do |f| %>
   <%= f.hidden_field :topic_id, :value => @topic.id %>
  <%= f.input :question %>
  <%= f.input :answer %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                terms_path, :class => 'btn' %>
  </div>
<% end %>
