<%- model_class = Topic -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
       <th><%= model_class.human_attribute_name(:topic_name) %></th>
       <th>Download Code</th>
       <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
     <%= render :partial => 'topics/outside_use/topic', :collection => topics %>
  </tbody>
</table>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_subject_topic_path(@subject),
            :class => 'btn btn-primary' %>
